.menuBar {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.menuBar A.menuButton {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.menuBar A.menuButtonselected {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.menuBar A.menuButtonV {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.menuBar A.menuButtonselectedV {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.menu {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.menu A.menuItem {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.menuBar {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; PADDING-TOP: 1px; BACKGROUND-COLOR: #ded9e1; TEXT-ALIGN: left
}
.menuBarV {
	BORDER-RIGHT: #cccc99 1px outset; PADDING-RIGHT: 1px; BORDER-TOP: #cccc99 1px outset; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccc99 1px outset; PADDING-TOP: 1px; BORDER-BOTTOM: #cccc99 1px outset; BACKGROUND-COLOR: #ded9e1; TEXT-ALIGN: left
}
.menuBar A.menuButtonselected {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BORDER-LEFT-WIDTH: 0px; Z-INDEX: 100; LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 1px; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 2px; POSITION: relative; TOP: 1px; BACKGROUND-COLOR: #000080; BORDER-RIGHT-WIDTH: 0px
}
.menuBar A.menuButtonselectedV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; BORDER-LEFT-WIDTH: 0px; Z-INDEX: 100; LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 1px; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 2px; POSITION: relative; TOP: 1px; BACKGROUND-COLOR: #000080; BORDER-RIGHT-WIDTH: 0px
}
.menuSelectedColorBar {
	COLOR: #ffffff; BACKGROUND-COLOR: #000080
}
.menuBar A.menuButton {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BORDER-LEFT-WIDTH: 0px; Z-INDEX: 100; LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 1px; CURSOR: pointer; PADDING-TOP: 2px; POSITION: relative; TOP: 1px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
.menuBar A.menuButtonV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; BORDER-LEFT-WIDTH: 0px; Z-INDEX: 100; LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 1px; CURSOR: pointer; PADDING-TOP: 2px; POSITION: relative; TOP: 1px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
.menuBar A.menuButtonselected:hover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
.menuBar A.menuButton:hover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
.menuBar A.menuButtonActive {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; TOP: 1px; BACKGROUND-COLOR: #aaaacc; BORDER-RIGHT-WIDTH: 0px
}
.menuBar A.menuButtonActive:hover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; TOP: 1px; BACKGROUND-COLOR: #aaaacc; BORDER-RIGHT-WIDTH: 0px
}
.menu {
	BORDER-RIGHT: #000090 1px outset; PADDING-RIGHT: 0px; BORDER-TOP: #000090 1px outset; PADDING-LEFT: 0px; Z-INDEX: 101; LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 0px; BORDER-LEFT: #000090 1px outset; PADDING-TOP: 0px; BORDER-BOTTOM: #000090 1px outset; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #ded9e1
}
.menu A.menuItem {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 1em; FONT-WEIGHT: normal; PADDING-BOTTOM: 2px; CURSOR: pointer; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
.menu A.menuItem:hover {
	BACKGROUND-COLOR: #aaaacc
}
.menu A.menuItemHighlight {
	BACKGROUND-COLOR: #aaaacc
}
.menu A.menuItem SPAN.menuItemText {
	
}
.menu A.menuItem SPAN.menuItemArrow {
	MARGIN-RIGHT: -0.75em
}
.menu .menuItemSep {
	BORDER-RIGHT: #e0e0e0 1px inset; BORDER-TOP: #e0e0e0 1px inset; MARGIN: 4px 2px; BORDER-LEFT: #e0e0e0 1px inset; CURSOR: default; BORDER-BOTTOM: #e0e0e0 1px inset
}
